<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>

    <main class="mt-5">
      <h1>Add New Book</h1>
      <form
        class="row g-3 needs-validation"
        method="POST"
        action="/add-new-book"
        novalidate
      >
        <div class="col-md-6">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="Title"
            name="Title"
            required
            maxlength="40"
          />
          <div class="invalid-feedback">Please enter a valid title.</div>
        </div>
        <div class="col-md-6">
          <label for="author" class="form-label">Author</label>
          <input
            type="text"
            class="form-control"
            id="Author"
            name="Author"
            required
            maxlength="50"
          />
          <div class="invalid-feedback">Please enter a valid author.</div>
        </div>
        <div class="col-md-6">
          <label for="genre" class="form-label">Genre</label>
          <input
            type="text"
            class="form-control"
            id="Genre"
            name="Genre"
            required
            maxlength="50"
          />
          <div class="invalid-feedback">Please enter a valid genre.</div>
        </div>
        <div class="col-md-6">
          <label for="publisher" class="form-label">Publisher</label>
          <input
            type="text"
            class="form-control"
            id="Publisher"
            name="Publisher"
            required
            maxlength="50"
          />
          <div class="invalid-feedback">Please enter a valid publisher.</div>
        </div>
        <div class="col-md-6">
          <label for="publication_date" class="form-label"
            >Publication Date</label
          >
          <input
            type="date"
            class="form-control"
            id="Publication_date"
            name="Publication_date"
            required
          />
          <div class="invalid-feedback">
            Please enter a valid publication date.
          </div>
        </div>
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-primary"
            onclick="validateForm()"
          >
            Create
          </button>
        </div>
      </form>
    </main>

    <footer><% include('../../partials/footer'); %></footer>

    <script>
      function validateForm() {
        var form = document.forms[0]
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
        return form.checkValidity()
      }
    </script>
  </body>
</html>
