<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lending</title>
</head>
<body>
    <form action="/lending" method="POST">
        <label>
            <span> Member ID: </span>
            <input type="text" name="memberID" value="">
        </label><br>
        <label>
            <span> Book ID: </span>
            <input type="text" name="bookID" value="">
        </label><br>
        <label>
            <span> Lending Date: </span>
            <input type="date" name="lendingDate" value="">
        </label><br>
        <label>
            <span> Return Date: </span>
            <input type="date" name="returnDate" value="">
        </label><br>

        <input type="submit" value="submit">
    </form>
</body>
</html>